.container-nav{
  background-color: black;
  box-shadow: 3px green;
  height: 10%;
}
ul{
  display: flex;
  justify-content: space-evenly;
}
a{
  font-size: 27px;
  color: #03fc459d;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px #51ff00;
}