:root {
  --fontGreen: #03fc459d;
  --fontShadow: #51ff00;
  --yellow: #d4cd17;
  --blue: #16bab7;
  --15px: 0.938rem;
  --20px: 1.25rem;
  --25px: 1.563rem;
  --40px: 2.5rem;
  --45px: 2.813rem;
  --50px: 3.125rem;
  --75px: 4.688rem;
  --100px: 6.25rem;
}

.flexContainer {
  display: flex;
}
.flex1 {
  flex: 1;
}

/*nav css*/

.container-nav {
  background-color: black;
  box-shadow: 3px 3px 3px green;
  height: var(--75px);
  padding-top: var(--15px);
  display: flex;
  justify-content: space-evenly;
}
a {
  display: flex;
  font-size: 28px;
  color: var(--fontGreen);
  text-transform: capitalize;
  text-shadow: 2px 2px 5px var(--fontShadow);
  text-decoration: none;
}
a text {
  padding: 5px;
}
a img {
  height: 40px;
}

a:hover {
  color: white;
}

/*general css */
.container-body {
  background-color: black;
  text-align: center;
  margin: 0px;
  text-align: center;
}
.container-title {
  position: relative;
}

h1 {
  font-size: var(--100px);
  color: var(--fontGreen);
  letter-spacing: 5px;
}
h2 {
  font-size: var(--75px);
}

h3 {
  margin: 20px 0px 30px 8px;
  color: var(--yellow);
  font-size: 60px;
}

h2,
h3 {
  color: var(--fontGreen);
  text-shadow: 2px 2px 2px var(--fontShadow);
  text-transform: capitalize;
  font-weight: 300;
}

p {
  line-height: var(--40px);
  letter-spacing: 2px;
  font-weight: 800;
  color: var(--blue);
  text-transform: capitalize;
  font-size: var(--20px);
}

/*home-page css*/
.home-page-h1 {
  margin: 0;
}
.home-page-h2 {
  margin: -49px 0px 0px 0px;
}
.home-page-h3 {
  margin: 5px 0px 5px 0px;
  padding: 10px;
  text-decoration: underline solid var(--blue);
}
.home-page-p {
  margin: 0rem 10.5rem;
  padding: 0px var(--100px);
}
.glitch {
  font-weight: lighter;
  text-shadow: 0.05em 0 0 var(--yellow), -0.035em 0 0 var(--fontShadow),
    0.025em 0 0 white;
  animation: glitch 2000ms infinite;
}

/* Game page css*/
.game-page {
  margin: 0px;
}

div .card-container img {
  max-width: 19.875rem;
  max-height: 27.25rem;
  min-width: 14.75rem;
}

.character-container-main,
.color-container-2,
.color-container-3,
.color-container-4,
.color-container-5 {
  padding: 25px;
  border: 3px solid black;
}
.character-container-main {
  background-color: var(--yellow);
  margin: 1px 600px;
}
.color-container-2 {
  background-color: var(--fontShadow);
}
.color-container-3 {
  background-color: var(--blue);
}
.color-container-4 {
  background-color: var(--fontGreen);
}
.color-container-5 {
  background-color: black;
}
.guess-button-container button,
.next-button {
  font-size: var(--20px);
  text-shadow: 0.5px 0.5px 1px 1px black;
  background: linear-gradient(140deg, var(--blue), var(--yellow));
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 1px 1px 1px 1px var(--fontShadow);
  padding: 5px 10px;
  letter-spacing: 1px;
  margin: 5px;
}

.guess-button-container button:hover {
  color: black;
  font-size: 20.5px;
}

.score h3,
.high-score h3 {
  color: black;
  text-shadow: 1px 1px 1px white;
  font-weight: 800;
  letter-spacing: 2px;
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
}
/*Contacts page*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.creatorName {
  font-size: var(--25px);
  color: black;
  text-shadow: 1px 1px 1px var(--fontShadow);
}
.card-container2 {
  margin: 15px;
  background-color: var(--blue);
  height: fit-content;
  width: 400px;
}
.creator-img {
  width: 250px;
  border: 10px solid black;
}
ul {
  padding: 0;
  margin: 10px;
}
.links {
  font-size: var(--20px);
  color: black;
  justify-content: center;
}
.error {
  font-size: var(--100px);
  font-weight: 600;
  letter-spacing: 3px;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 var(--yellow),
      -0.035em -0.05em 0 0 var(--fontShadow), -0.025em 0.05em 0 0 var(--blue);
  }
  14% {
    text-shadow: -0.05em 0 0 var(--yellow), 0.035em 0.05em 0 0 var(--fontShadow),
      0.025em 0 0 var(--blue);
  }
  15% {
    text-shadow: -0.05em 0 0 var(--yellow),
      -0.035em -0.05em 0 0 var(--fontShadow), 0.025em -0.05em 0 0 var(--blue);
  }
  49% {
    text-shadow: 0.05em 0 0 var(--yellow), 0.035em 0.05 0 0 var(--fontShadow),
      -0.025em 0.05em 0 0 var(--blue);
  }
  50% {
    text-shadow: 0.05em 0 0 var(--fontGreen), -0.035em 0 0 var(--fontShadow),
      0.025em 0 0 var(--blue);
  }
  90% {
    text-shadow: 0.07em 0 0 var(--fontGreen),
      0.035em -0.07em 0 0 var(--fontShadow), -0.025em 0.03em 0 0 var(--blue);
  }
  100% {
    text-shadow: 0.05em 0 0 var(--fontGreen), -0.035em 0 0 var(--fontShadow),
      0.025em 0 0 var(--blue);
  }
}
@media (max-width: 1024px) {
  .left-sidebar img,
  .right-sidebar img {
    max-width: 175px;
  }
  .container-nav ul,
  a,
  .container-nav {
    margin: 0px;
    padding: 0;
  }
  .logo-container img {
    max-width: 400px;
    max-height: 200px;
  }
  h1 {
    font-size: var(--75px);
    margin: 0px 10px -10px 10px;
  }
  h2 {
    font-size: var(--40px);
    margin: -20px 10px 10px 10px;
  }
  h3 {
    font-size: 30px;
    margin: 0px 10px 10px 10px;
    text-shadow: 1px 1px 1px var(--yellow);
  }
  p {
    margin: 1rem 12.2rem;
    padding: 0px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 800px) {
  nav,
  .container-nav {
    display: none;
  }
  .left-sidebar img,
  .right-sidebar img {
    max-width: 175px;
  }
  h3 {
    text-shadow: 0.55px 0.25px 0.5px var(--yellow);
  }
  p {
    font-weight: 500;
    line-height: 24px;
    margin: 1rem 12rem;
  }
}
@media (max-width: 500px) {
  .left-sidebar img,
  .right-sidebar img {
    display: none;
  }
  h1 {
    font-size: var(--50px);
  }
  h2,
  h3 {
    font-size: var(--40px);
  }
  p {
    font-weight: 400;
    line-height: 22px;
    margin: 1rem;
  }
}
